<nav>
    <a href="/ %>" class="logoContainer">
        <img src="/assets/logo.png" alt="" class="logo">
        <p class="logoText">Meds2Go</p>
    </a>
    <div class="navRight">
        <a class="capsule" href="/login%>">Login</a>
        <a class="capsule" href="/register">Register</a>
    </div>
</nav>