<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">

</head>

<body>
    <%- include('./partials/homeNavbar.ejs') %>
        <marquee direction="right" height="30px" style="background-color: rgb(70, 135, 185);color: white;">
            GRATIS ONGKIR untuk pengiriman ke JABODETABEK!
        </marquee>
        <a href="/register"><button>Register</button></a>
        <a href="/login"><button>Login</button></a>

</body>

</html>