<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meds2Go - Main</title>
    <style>
        section{
            display: flex;
        }
        .left{
            width: 20%;
            height: 98.5vh;
            background-color: aqua;
        }
        .right{
            width: 80%;
            height: 98.5vh;
            background-color: blanchedalmond;
        }
    </style>
</head>
<body>
    <section>
        <% console.log(userProfile, medicines); %>
        <div class="left">
            <h1>Profile</h1>
            

        </div>
        <div class="right">
            <h1>Medicines</h1>
            <div class="card">

            </div>
        </div>
    </section>
</body>
</html>